nav{
	background-color: white;
	overflow: hidden;

	a{
		text-decoration: none;
		font-size: .8em;
		color:#9F9F9F;
		padding: 1em 2em 1em 1em;
		display: inline-block;
	}
	.nav-main{
		float: left;
	}

	div{
		float: right;
	}
}

.top-image{
	background-image: url(../images/05.jpg);
}

.simple-pricing{
	color: white;
	font-size: 1.5em;
	padding: 2em;
	text-align: center;

}

.personal-box{
	background-color: #519251;
	text-align: center;
	margin: 2em .5em 0 .5em;
	padding: 1.5em;
	.top-text{
		color:white;
		font-size: .9em; 
	}
	.middle-text{
		color:white;
		font-size: 5em;
	}
	.bottom-text{
		font-size: 1em;
		color: rgba(51,92,51,0.5);
	}

}

.info-main{
	.info-list{
			background-color: #F7F7F7;
			text-align: center;
			color: #899296;
			font-size: .8em;
			border-bottom:.1em solid #ECECEC;
			border-left:.1em solid #ECECEC;
			border-right:.1em solid #ECECEC;
			padding: .6em;
			margin-left: .6em;
			margin-right: .6em;
			
		}
	}
.button-box{
	background-color:white;
	border-bottom:.1em solid #ECECEC;
	border-left:.1em solid #ECECEC;
	border-right:.1em solid #ECECEC;
	margin: 0 .5em 0 .5em ;
	text-align: center;
		button{
			height: 1.5em;
			width: 5em;
			font-size: 1em;
			-webkit-border-radius: 22px;
   			-moz-border-radius: 22px;
   			border-radius: 22px;
			border: solid .1em #ECECEC;
			text-align: center;
			background-color:white;
			margin-top: .5em;
			margin-bottom: 1em;

		}

}

.business-box{
	background-color: #2B4883;
	text-align: center;
	margin: 2em .5em 0 .5em;
	padding: 1.5em;
	.top-text{
		color:white;
		font-size: .9em; 
	}
	.middle-text{
		color:white;
		font-size: 5em;
	}
	.bottom-text{
		font-size: 1em;
		color: #93A1C0;
	}

}

.enterprise-box{
	background-color: black;
	text-align: center;
	margin: 2em .5em 0 .5em;
	padding: 1.5em;

	.top-text{
		color:white;
		font-size: .9em; 
	}
	.middle-text{
		color:white;
		font-size: 5em;
	}
	.bottom-text{
		font-size: 1em;
		color:#5B5B5B;
	}

}
.info-text{
	margin: 3em 1.1em 1em 1.1em;

	.info-text-title{
		font-size: .9em;
		font-weight: bold;
		letter-spacing: .2em;
		line-height: 1.5em;
	}
	.info-paragraph{
		font-size: .8em;
		color: #5A676D;
		line-height: 1.5em;
	}
}

footer{
	background-color: black;
	color: #666666;
	font-size: .7em;
	text-align: center;
	.footer-link{
		color: white;
	}
	.footer-top{
	padding-top: 1em;
	}
	.footer-bottom{
	padding-bottom: 1em;
	}


}
// 0-478 479-767 767-978 979-larger
// when it hits this size these conditions apply
@media(min-width: 479px){ 
	nav .nav{
		float: left;
	} 

	footer{
		font-size: .9em;
	}	
}

@media(min-width: 767px){ 
	nav div{
		float: left;
	}
	.simple-pricing{
		font-size: 2.5em;
		padding: 4em;
	}
	.memberships-top{
		float:left;
		width: 33%
	}
	.memberships-middle{
		float:left;
		width: 33%
	}
	.memberships-bottom{
		float:right; 
		width:33%
	}
	.info-text{
		display: inline-block;
		width: 45%;
	}
	footer p{
		padding: none;
		display: inline-block;
	
	}

}

@media(min-width: 979px){ 
	.top-image{
	background-size: cover;
}
			
}

				